[Unit]
Description=Shipvote API Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/shipvote-api
ExecStart=/opt/shipvote-api/shipvote-api
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/shipvote-api/shipvote-api.env
SyslogIdentifier=shipvote-api
LimitNOFILE=65535
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
