[Unit]
Description=Shipvote Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/shipvote
ExecStart=/opt/shipvote/bin/backend foreground
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/shipvote/shipvote.env
SyslogIdentifier=shipvote
LimitNOFILE=65535
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
