.mdc-text-field--box {
  margin-top: 0;
}

.dark {
  $color--background: #201c2b;
  $color--background-highlight: #6441a4;
  $color--text: #e5e3e8;
  $color--text-highlight: #e2dbf0;
  background-color: #201c2b;

  color: $color--text;

  option {
    background-color: $color--background;
  }

  a {
    color: $color--text-highlight;
  }

  .mdc-card {
    .mdc-card__supporting-text {
      color: $color--text;
    }
  }

  .mdc-card.mdc-card--flat {
    background-color: $color--background-highlight;
    color: inherit;
  }

  .mdc-tab--active .mdc-tab__text-label {
    color: $color--background-highlight;
  }
  .mdc-tab__text-label {
    color: $color--text;
  }

  .mdc-form-field {
    > label {
      color: $color--text-highlight;
    }
  }

  .mdc-text-field,.mdc-select {
    background-color: $color--background-highlight;

    label {
      color: $color--text-highlight !important;
    }

    input,select {
      color: $color--text !important;
    }
  }

  .mdc-button {
    color: $color--text-highlight;

    &[disabled] {
      color: darken($color--text, 40%);
    }
  }

  .mdc-button.mdc-button--outlined {
    border-color: $color--text-highlight;
  }

  .mdc-list {
    color: inherit;

    .mdc-list-item .mdc-list-item__secondary-text {
      color: $color--text-highlight;
    }

    &.mdc-list--bordered .mdc-list-item {
      border-color: $color--text-highlight;
    }
  }

  .vote-notice .cta {
    background-color: $color--background-highlight;
  }

  .selection .card {
    background-color: $color--background;

    .ship {
      background-color: $color--background-highlight;
      border-color: $color--background-highlight;

      .vote-button {
        background-color: $color--text;
        color: $color--background-highlight;
      }

      .progress-bar .progress {
        background-color: hsla(0, 0, 100, 0.5);
      }
    }
  }

  .mdc-typography {
    color: $color--text;
  }

  .mdc-text-field__icon.material-icons {
    color: $color--text-highlight;
  }

}
