.mdc-list .mdc-list-item {
  padding-top: 8px;

  .mdc-list-item__graphic {
    padding-left: 8px;
  }

  .mdc-list-item__text {
    margin-top: 4px;
  }

  .mdc-list-item__meta {
    margin-top: -8px;
  }
}
