@import url('https://fonts.googleapis.com/css?family=Roboto');

$color--success: rgba(63, 195, 128, 1);
$color--danger: rgba(210, 77, 87, 1);

.typography {
    font-family: Roboto, sans-serif;
}

.typography__color--warning {
    color: orange;
}

.typography__color--success {
  color: $color--success;
}

.typography__color--error {
    color: $color--danger;
}

.typography--headline1 {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.typography--subtitle {
    color: #3f3f3f;
}
